[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
psycopg2 = "*"
python-dotenv = "*"
pandas = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.12"
